# Logs
logs
*.log

# Runtime data
pids
*.pid

# Testing dir
tests/
testing/
test/

# packeds
*.tgz
*.zip
*.jar

# Auth hashes and environment secrets and keys
*.auth.can
*.can

# environment variables
env/
.env
.env.test

# cache
cache/
*.cache

# lock files
locks/
*.can.lock
