# Logs
logs
*.log

# Runtime data
pids
*.pid

# Testing dir
tests/
testing/
test/

# packeds
*.tgz
*.zip
*.jar

# environment variables
.env
.env.test

# cache
cache/
*.cache

# lock files
locks/
*.can.lock
